export(dsr)
export(dsrstar)
export(dT2)
export(F.inference)
export(full.sr)
export(full.srstar)
export(pcosrstar)
export(plambdap)
export(power.sr.test)
export(psr)
export(psrstar)
export(pT2)
export(qcosrstar)
export(qlambdap)
export(qsr)
export(qsrstar)
export(qT2)
export(rsr)
export(rsrstar)
export(rT2)
export(sr)
export(sr.confint)
export(sr.equality.test)
export(sr.se)
export(srstar)
export(srstar.confint)
export(srstar.inference)
export(srstar.test)
export(sr.test)
export(T2.inference)
