export(dsr)
export(dsropt)
export(dT2)
export(F.inference)
export(format.sr)
export(is.sr)
export(pco_sropt)
export(plambdap)
export(power.sr.test)
export(print.sr)
export(psr)
export(psropt)
export(pT2)
export(qco_sropt)
export(qlambdap)
export(qsr)
export(qsropt)
export(qT2)
export(rsr)
export(rsropt)
export(rT2)
export(se)
export(sr)
export(sr.equality.test)
export(sropt)
export(sropt_confint)
export(sropt.inference)
export(sropt.test)
export(sr.test)
export(T2.inference)
S3method(confint,sr)
S3method(confint,sropt)
S3method(format,sr)
S3method(print,sr)
S3method(se,default)
S3method(se,sr)
S3method(sr,default)
S3method(sr,lm)
S3method(sr,xts)
